<a href="/user/see_player" style="position: absolute; left:45%;" class= "text-dark"> 
  see player list
</a> 

<a href="/user/team" style="position: absolute; left:40%;" class= "text-dark"> 
  back
</a>

<div style="position: absolute; left: 95%; ">
  <%= link_to 'Log out', destroy_team_session_path, class: "text-dark", method: :delete %>
</div>

<div style="position: absolute; left:51%; ">
  <%= link_to 'Profile', user_team_profile_path, class: "text-dark" %>
</div><br><br>

<center>
  <h3>Search List</h3><hr>
  <% @player.each do |player| %>
    <%= player.name %><br>
    <label>Price:</label>
    <%= player.player_price%>
    <%= form_with scope: :user, url: "/user", local: true do |form| %>
      <%= form.hidden_field :playerr_id, required: true, value:player.id  %>
      <%= form.hidden_field :team_id, required: true, value:current_user.id %>
      <%= form.submit value:"BUY", class: 'btn btn-success' %>
    <% end %><hr>
  <% end %>
</center>